.project {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-width: 100vw;

  min-height: 100vh;

  background: var(--white-200);

  .introduction {
    .title {
      margin-top: 2.375rem;

      position: relative;
      z-index: 2;

      img {
        width: 100%;
      }
    }

    .banner {
      margin-top: -150px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .projectLogo img {
    width: 100%;
    height: 100%;
  }

  .projectPattern {
    margin-top: 10rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .projectImages {
    margin-top: 11.4375rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
